@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}


body {
    height: 100vh;
    
    margin:0;
    
    background-color: black;
 

    
}

.container {
    display: flex;
    padding:0 300px;
}

.banner {
    background-image: url(background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex:1;
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.content {
    flex:1.5;
    display:flex;
    min-width: 60vh;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.98);
}

.banner {
    display:flex;
    flex:1;
    flex-direction: column;
    
 
}

.topBanner {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background-color: rgb(0,0,0,0.4);
    padding:0px;
    margin-top: 20vh;
}

.topBanner,
.bottomBanner {
    color:white;
}

a:visited {
    color:white;
}

h1 {
    font-family: odin;
    font-size: 4rem;
}

#odinLogo {
    width: 95px;
    height: 127px;
}

.content {
 
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 600px;
    
}

.topContent {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-end;
   
    
    
    
}

.topContent > p {
   
    font-weight: 550;
    font-family: sans-serif;
    margin-left: 60px;
    margin-right: 75px;
}



.midContent {
    flex: 1.1;
    flex-shrink: 0;
    background-color: white;
    box-shadow: 0px 7px 3px rgb(211,211,211,0.5);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    
}

.midContent > * {
    margin-left: 60px;
}

.bottomContent > * {
    margin-left: 60px;
}

.bottomContent {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 1.2rem;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: sans-serif;
}

.firstRowForm,
.secondRowForm,
.thirdRowForm {
    display:flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 60px;
    font-size: 1rem;
 
  
}

.firstRowForm > div,
.secondRowForm > div,
.thirdRowForm > div {
    display:flex;
    flex-direction: column;
    gap:1px;

    
}



h2 {
    font-size: 1.6rem;
    font-family: sans-serif;
    
}

input {
    border: 2px solid #E5E7EB;
}

div > label {
    font-weight: 600;
    font-size: 0.9rem;
    color: rgba(65, 62, 62, 0.9)
}

div > input {
    width: 200px;
    font-size: 0.9rem;
    padding: 5px;
}

div > input:focus {
    border: 2px groove rgba(4, 81, 196, 0.781);
    box-shadow: 3px 5px 3px rgb(211,211,211,0.5);  
}

div > input:focus:invalid {
    border: 2px groove red;
}

div > input:invalid {
    border: 2px groove red; 
}

button {
    background-color: #596D48;
    border-radius: 12px;
    color: white;
    padding: 15px 60px;
    font-weight: bold;
    font-size: 1.1rem;
    flex-grow: 0;
    margin-top: 10px;
    box-shadow: 3px 5px 3px rgb(211,211,211,0.5);

    
}

.bottomContent a:visited,
.bottomContent a:link {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}


